USE [QLBanhang]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 04-Jun-24 1:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nvarchar](10) NOT NULL,
	[MAVT] [nvarchar](5) NOT NULL,
	[SL] [int] NULL,
	[GIABAN] [money] NULL,
 CONSTRAINT [PK__CHITIETH__603F20CE608C0E85] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 04-Jun-24 1:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](10) NOT NULL,
	[NGAY] [datetime] NULL,
	[MAKH] [nvarchar](5) NULL,
	[TONGTG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 04-Jun-24 1:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](5) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](300) NULL,
	[DT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 04-Jun-24 1:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [nvarchar](5) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DTV] [nvarchar](20) NULL,
	[GIAMUA] [nvarchar](10) NULL,
	[SLTON] [int] NULL,
 CONSTRAINT [PK__VATTU__60228248C95DEA69] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAVT], [SL], [GIABAN]) VALUES (N'HD001', N'VT01', 5, 52000.0000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAVT], [SL], [GIABAN]) VALUES (N'HD001', N'VT05', 10, 30000.0000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MAVT], [SL], [GIABAN]) VALUES (N'HD002', N'VT03', 10000, 150.0000)
GO
INSERT [dbo].[HOADON] ([MAHD], [NGAY], [MAKH], [TONGTG]) VALUES (N'HD001', CAST(N'2000-05-12T00:00:00.000' AS DateTime), N'KH01', 82000.0000)
INSERT [dbo].[HOADON] ([MAHD], [NGAY], [MAKH], [TONGTG]) VALUES (N'HD002', CAST(N'2000-05-25T00:00:00.000' AS DateTime), N'KH02', 150.0000)
INSERT [dbo].[HOADON] ([MAHD], [NGAY], [MAKH], [TONGTG]) VALUES (N'HD003', CAST(N'2000-05-25T00:00:00.000' AS DateTime), N'KH01', 55000.0000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DT], [EMAIL]) VALUES (N'KH01', N'NGUYEN THI BE', N'TAN BINH', N'8457895', N'bnt@yahoo.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DT], [EMAIL]) VALUES (N'KH02', N' LE HOANG NAM', N' BINH CHANH', N'9878987', N'namlehoang @abc.com.vn')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DT], [EMAIL]) VALUES (N'KH03', N' TRAN THI CHIEU', N' TAN BINH', N'8457895', N'')
GO
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DTV], [GIAMUA], [SLTON]) VALUES (N'VT01', N'XI MANG', N' BAO', N'50000', 5000)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DTV], [GIAMUA], [SLTON]) VALUES (N'VT02', N' CAT', N' KHOI', N'45000', 50000)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DTV], [GIAMUA], [SLTON]) VALUES (N'VT03', N' GACH ONG', N' VIEN', N'120', 800000)
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_VATTU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD]
GO
